/*-- scss:defaults --*/
$link-color: #3274B5;


/*-- scss:rules --*/

.navbar-logo {
  max-height: 50px;
}

:root {
  --red: #A62B17;
  --orange: #E2792E; 
  --yellow: #F2B13D; 
  --green: #2F6F1C; 
  --blue: #3274B5; 
  --purple: #6428B9; 
  --grey: #2C3E4F;
}

/* rainbow borders */
nav {
  /* 
  margin-top: 18px;
  box-shadow: 0 -6px 0 0px var(--blue),
              0 -12px 0 0px var(--green),
              0 -18px 0 0px var(--red);
  */
}

img.navbar-logo {
  max-height: 2em;
}

/*
nav.navbar {
  background: center center no-repeat url("../images/divider.svg");
}
*/